<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootsrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <!-- Vue JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>    
<title>Document</title>
</head>
<body>
    
        <div class="menu">
            Menu section appears here
        </div>


        
             <div id="content">
                <div class="column-1" id="left">
                    <div class="column-one">
                       <table>
                           <tr>
                               <td class="bg">
                                    <a href="index.html">Welcome</a> <br>
                                    <a href="genres.html">General resources</a> <br>
                                    <a href="">ICT Club Announcements</a> <br>
                                   <a href="webdev.html">Web developers</a> <br>
                                   <a href="mobile.html">Mobile developers</a> <br>
                                   <a href="">Cyber Security</a> <br>
                                   <a href="graphicsdsgn.html">Graphicsx & UI/UX design</a> <br>
                                   <a href="machinelng.html">ML & Data Science</a> <br>
                                   <a href="">Calendar of Events</a> <br>
                                   <a href="netw.html">Networking</a> <br>
                                   <a href="">chit-chat</a>
                               </td>
                           </tr>
                       </table>
                    </div>
                </div>
                <div class="column-2"id="center" >
                    <div class="column-two" >
                           <div class="wel-body">
                                <div class="image">
                                     <img src="images/welcome.png" style="width:100%;height:246px;">
                                </div>
                            <div class="wel-text">
                                <header style="font-weight: bold;">Welcome to the learning community</header> <br>
                                <p>
                                    Thank you for joining TEAU ICT Learning Community! We are a community 
                                    with a common goal to help you build the skills that will enable you to 
                                    advance in your career.Over the past four years we have supported many of them to
                                    land a job opportunity in the tech space.
                                </p>
                                <header style="font-weight: bold;">What can you do hear ?</header>
                                <ul>
                                   <li> Connect with other club developers </li>
                                   <li> Get help in a skill or technology</li> 
                                   <li> Check out the latest job postings </li>
                                   <li> Get access to recommended resources to build your skills</li>
                                   <li> Stay up to date with the latest happenings in the world of Teau ICT club </li>

                                </ul>
                                <header style="font-weight: bold;">Important Information</header>
                                <ul>
                                    <li>Check out our code of conduct <a style="color: blue;" href="">here</a></li>
                                    <li>Ask Questions <a style="color:blue;" href="">here</a></li>
                                    <li>Our privacy Policy <a style="color: blue;" href="">here</a></li>
                                </ul>

                             </div>
                    </div>
                       
                    <div class="comment">
                        <h1 style="margin: 2%; font-size: 30px; font-weight: bold;">Chat with us</h1>
                        <!--Comment Section appears here-->
                         <section id="app">
                             <div class="container">
                               <div class="row">
                                 <div class="col-6">
                                   <div class="comment">
                                 <p v-for="items in item" v-text="items"></p>
                                   </div><!--End Comment-->
                                   </div><!--End col -->
                                   </div><!-- End row -->
                               <div class="row">
                                 <div class="col-6">
                               <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                                   <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                                 </div><!-- End col -->
                               </div><!--End Row -->
                             </div><!--End Container -->
                           </section><!-- end App -->
             
                     </div>
             
                     <div class="footer">
                       <!--  Footer section appears here-->
                         <div class="footer-basic">
                             <footer>
                                
                                 <ul class="list-inline">
                                     <li class="list-inline-item"><a href="#">Home</a></li>
                                     <li class="list-inline-item"><a href="#">Services</a></li>
                                     <li class="list-inline-item"><a href="#">About</a></li>
                                     <li class="list-inline-item"><a href="#">Terms</a></li>
                                 </ul>
                                 <p class="copyright">TEAU ICT CLUB © 2021</p>
                             </footer>
                         </div>
                         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                         <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
                         </div>


                            
                        
                        
                    </div>

                </div>
                
                <div id="right">
                    
                    <section class="team">
                        <div class="container-team">
                                <h1 style="text-align: center;">OUR TEAM</h1>
                             <div class="row">
                                <div class="row-md-3">
                                    <div class="img-box, col-md-3">
                                        
                                        <img src="images/linus.jpg" alt="" class="img-responsive"  >
                                    </div>
                                    <div id="inf-right">
                                            Linus Mugera <br>
                                           full-stack Developer <br>
                                            <a style="color: blue;" href="">Email</a>
                                            <a style="color: blue;" href="">Linkedn</a>
                                    </div> 
                                  </div>
                                
                                <div class="row-md-3">
                                    <div class="img-box, col-md-3">
                                        
                                        <img src="images/" alt="" class="img-responsive"  >
                                    </div>
                                    <div id="inf-right">
                                        Kimberly Msabeni <br> full-stack Developer <br>
                                        <a style="color: blue;" href="">Email</a>
                                        <a style="color: blue;" href="">Linkedn</a>
                                    </div> 
                                  </div>
                                
                                <div class="row-md-3">
                                    <div class="img-box, col-md-3">
                                        
                                        <img src="images/" alt="" class="img-responsive"  >
                                    </div>
                                    <div id="inf-right">
                                        Daniel Crispa <br> front-end Developer <br>
                                        <a style="color: blue;" href="">Email</a>
                                        <a style="color: blue;" href="">Linkedn</a>
                                    </div> 
                                  </div>
                                
                                <div class="row-md-3">
                                    <div class="img-box, col-md-3">
                                       
                                        <img src="images/" alt="" class="img-responsive"  >
                                    </div>
                                    <div id="inf-right">
                                        Chalie Chalie <br> full-stack Developer <br>
                                        <a style="color: blue;" href="">Email</a>
                                        <a style="color: blue;" href="">Linkedn</a>
                                    </div> 
                                  </div>
                                
                                <div class="row-md-3">
                                    <div class="img-box, col-md-3">
                                        
                                        <img src="images/" alt="" class="img-responsive"  >
                                    </div>
                                    <div id="inf-right">
                                        Mike Wanyua Developer <br>
                                        <a style="color: blue;" href="">Email</a>
                                        <a style="color: blue;" href="">Linkedn</a>
                                    </div> 
                                  </div>
                                
                                <div class="row-md-3">
                                    <div class="img-box, col-md-3">
                                        
                                        <img src="images/" alt="" class="img-responsive"  >
                                    </div>
                                    <div id="inf-right">
                                        Christine Naito <br> Networking Professional <br>
                                        <a style="color: blue;" href="">Email</a>
                                        <a style="color: blue;" href="">Linkedn</a>
                                    </div> 
                                  </div>
                                
                                <div class="row-md-3">
                                    <div class="img-box, col-md-3">
                                        
                                        <img src="images/" alt="" class="img-responsive"  >
                                    </div>
                                    <div id="inf-right">
                                        Erastus Erastus <br> full-stack Developer <br>
                                        <a style="color: blue;" href="">Email</a>
                                        <a style="color: blue;" href="">Linkedn</a>
                                    </div> 
                                  </div>
                                
                                <div class="row-md-3">
                                    <div class="img-box, col-md-3">
                                        
                                        <img src="images/" alt="" class="img-responsive"  >
                                    </div>
                                    <div id="inf-right">
                                        Name Name Developer <br>
                                         <a style="color: blue;" href="">Email</a>
                                         <a style="color: blue;" href="">Linkedn</a>
                                    </div> 
                                  </div>
                                </div>
                             </div>       
                        </div>
                    </section>
                </div>
            </div>
          
       

  
            <script src="javascript/index.js"></script>
        

    
    
</body>
</html>