*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar{
    display: block;
    background-color: rgb(255, 255, 255);
    height: 6rem;
    width: 100%;
    margin-bottom: 0.6rem;
    top: 0px;
}
.navbar-light {
    background: rgba(226, 248, 219, 0.5);
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    top: 0rem;
}
.nav{
    background-color:rgba(19, 210, 3, 1);
    margin-left: 0.6rem;
    height: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.navbar-right {
    float: right !important;
    margin-right: 15px;
}
.navbar-nav>li {
    float: left;
}
.navbar1 {
    display: flex;
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.bi-menu-button-wide-fill {
    color: #13d203;
    font-weight: 700;
    margin-right: 8px;
    cursor: pointer;
    display: none;
}
.logo{
    position: inherit;
    width: 16rem;
    -ms-flex-align: start;
}
.links{
    color: whitesmoke;
}
.links:hover, .current{
    color: #0005ff;
}
.search-cont{
    background: #ffffff00;
    display: flex;
    flex-direction: row;
    border: 3px solid #ffffff;
    box-shadow: none;
    border-radius: 24px;
    height: 30px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.bi-search {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 2px;
    color: rgba(19, 210, 3, 0.7);
}
.search-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-btn{
    display: flex;
    margin-right: 15px !important;
    margin-left: 15px !important;
    border: 3.5px solid rgba(120, 230, 103, 1);
    border-radius: 20px;
    padding: 5px;
    height: 30px;
    background-color: white;
    justify-content: center;
    align-items: center !important;
    text-align: center;
    color: rgba(120, 230, 103, 1);
}
.search-btn:hover{
    color: white;
    cursor: pointer;
    border: 3.5px solid white;
    background-color: rgba(120, 230, 103, 1);
}
.search-box {
    background-color: white;
    border: none;
    padding: 0;
    color: rgba(120, 230, 103, 1);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 24px;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2px;
}
::placeholder{
    color: rgba(120, 230, 103, 1);
}
.menu-bar{
    display: block;
    height: 2rem;
    background-color: rgba(19, 210, 3, 1);
    border-radius: 0.5rem;
    flex-direction: row;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    margin-top: 0.6rem;
    right: 25px;
}
.menu-bar .links .menu-item1 a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    width: 12.5%;
    text-align: center;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    float: right;
}
ul{
    text-decoration: none;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
    padding: 0.4rem;
    align-items: center;
    color: rgb(255, 255, 255);
}
.page{
    width: 100%;
    text-align: center;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    min-height: 400px;
    grid-gap: 1.2rem;
    background-image: url(img/assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: 2000ms;
}
.gallery .img-container.hide{
    display: none;
}
.gallery .img-container.show {
    animation: animate 0.5s ease;
}
@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}
.img-container{
    position: relative;
    object-fit: cover;
    border: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: solid;
    box-shadow: -3px -3px 5px #c6d8e9,
    3px 3px 5px rgba(94, 104, 121, 0.507);
    cursor: pointer;
    transition: .5s;
    z-index: 1;
    overflow: hidden;
}
.img-container img:hover{
    transform: scale(1.1);
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: .5s;
    z-index: 700;
}
.img-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -50px;
}
input{
    display: none;
}
.buttons-bar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(226, 248, 219, 0.6);
    padding: 5px;
    width: 100%;
    height: 2.6rem;
    margin-bottom: 10px;
    align-items: center;
}
.item{
    margin: 0 5px;
    height: 2rem;
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border: 3.5px solid rgba(120, 230, 103, 1);
    background-color: rgb(255, 255, 255);
    border-spacing: 4px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: .5s;
}
.active, span:hover {
    background: rgba(120, 230, 103, 1);
    border-color: rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}
.img-box{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transition: 0.4s ease-in-out;
}
.img-box.open{
    opacity: 1;
    pointer-events: all;
}
.img-box p{
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}
.full-img{
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}
.full-img.open{
    transform: translate(-50%, -50%) scale(1);
}
@media(max-width: 900px) {
    .buttons-bar {
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: rgba(226, 248, 219, 0.6);
        padding: 5 px;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin-bottom: 10 px;
        align-items: center;
    }

    .item {
        margin: 5px;
    }

    .nav,
    .navbar-nav,
    .navbar-right {
        display: none;
    }

    .bi-menu-button-wide-fill {
        display: block;
    }
}

.bi-x {
    cursor: pointer;
    display: none;
}