*{
	margin:0%;
	padding: 0%;
    font-family: sans-serif;
}
.flex-container{
	background-color: #f1f2f6;
}
a{
	color: white;
	text-decoration: none;
	padding: 2%;
	line-height: 2;
	
}
a:hover {
	color: #dcdde1;
  }
.menu{
	text-align: center;
	margin: 0%;
	padding: 2%;
	border: 1px solid black;
}
.welcome-msq{
	text-align: center;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
	color: white;
	font-size: 30px;
	background-color: #2ed573;
	
}
.bg{
	background-color: #2ed573;
}
.image{
	align-items: center;
	margin-left: 10%;
}
.wel-body{
	background-color: white;
	width: 700px;
}
.wel-text{
	width: 100%;
	padding: 2%;
	margin: 2%;
}
.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	
}
.column-1{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	width: 25%;
	font-size: 18px;
	margin: 0%;
	overflow: auto;
	
}
.column-2{
	display: flex;
	flex-direction:column;
	width: 75%;
	margin: 0%;
	overflow: auto;
	
	
}
.column-one{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4%;
	margin: 0%;

}
.column-one h2{
	font-weight: bold;
	color: #2ed573;
}
.column-two{
	display: flex;
	flex-direction: column;
	margin: 0%;
	background-color: white;

}
#content, html, body {
    height: 100%;
}
#left {
    float: left;
    width: 25%;
    height: 100%;
    overflow: auto;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
#center {
	float: left;
    width: 50%;
    background: #f5f6fa;
    overflow:auto;
	height: 100%;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
	
}
#right {
    float: left;
    width: 25%;
    height: 100%;
    overflow: auto;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
#app{
	width: 100%;
}
.c-center{
	margin-top: 6%;
}
table{
	border-collapse: separate;
	border-spacing: 5px;
	padding: 2%;
	width: 100%;
}

table tr td{
	padding: 2%;
	border: 1px solid black;

}




.a-web{
	color: #0be881;
	float: right;
	font-size: 30px;
	font-family: sans-serif;
	padding: 2%;
	text-decoration: none;
}
.header{
	text-align: center;
	padding: 2%;
}
.image{
	align-items: center;
	padding: 2%;
}
/*css for comment section*/
.container {
	width: 100%;
	/*max-width: 640px;*/
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}
.comment {
	display: block;
	transition: all 1s;
	background-color: #f1f2f6;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}
.container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}
button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}
button.primaryContained:hover {
	background: #9201A8;
}
#img-left {
    float: right;
    width: 50%;
    height: 100%;
	padding: 3%;
	margin-left: 10%;
}
#inf-right {
    float: right;
    width: 50%;
    height: 100%;
	margin: 1px;
}
/*Footer CSS starts here*/
.footer-basic {
	padding:0px 0;
	background-color: #f1f2f6;
	color:green;
  }
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 10px;
  }
  
  .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-basic ul a:hover {
	opacity:1;
  }
  
  .footer-basic .social {
	text-align:center;
	padding-bottom:25px;
  }
  
  .footer-basic .social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	border:1px solid green;
	margin:0 8px;
	color:inherit;
	opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
	opacity:0.9;
  }
  
  .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:orangered;
	margin-bottom:0;
  }
  /*Css for team section*/
  .team{
	  margin: 75px 0;
	  width: 100%;
  }
  .row-team{
	  width: 100%;
  }
  .container-team{
	  width: 100%;
  }
  h5{
	  text-align: center;
	  font-weight: bold;
	  letter-spacing: 2px;
	  padding-bottom: 10px;
  }
  
  .img-responsive{
	width: 70px;
	height:70px;
  }
  .fit{
	  width: 100%;

  }
 h2{
	 width: 100%;
	 font-size: 12px;
 }
 h3{
	width: 100%;
	font-size: 12px;
}
